* {
    font-family: Lucida Console;
    position: relative;
    color: #604839;
  }
  
  .dailyui {
    margin: 15px;
    position: absolute;
  }
  .dailyui h1, .dailyui span {
    font-family: Lobster;
    line-height: 8px;
  }
  .dailyui span {
    font-size: 20px;
  }
  
  html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    z-index: -3;
    background-color: #a85817;
  }
  
  .panel {
    width: 270px;
    height: 500px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 30px;
    box-shadow: 0px 0px 13px 3px rgba(76, 57, 42, 0.4);
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
  }
  .panel img {
    top: -120px;
    left: -75px;
    position: absolute;
    z-index: -1;
    filter: blur(2px) opacity(0.7);
  }
  .panel .alltitle {
    z-index: 2;
    line-height: 38px;
  }
  .panel .alltitle .title {
    font-family: Oswald;
    font-size: 60px;
    color: #fffdfc;
    text-shadow: 0px 0px 8px #b79f91;
  }
  .panel .alltitle .subtitle {
    padding: 0px 20px;
    transform-origin: left bottom;
    transform: rotate(3deg);
    font-family: Yellowtail;
    font-size: 50px;
    background: linear-gradient(90deg, #aa2917, #eaa454);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .panel .datainput {
    padding: 10px;
    outline: medium;
  }
  .panel .datainput .datainput1 {
    padding: 8px;
    box-shadow: inset 0px 0px 2px 0px rgba(193, 160, 122, 0.7);
    border: solid 1px #c1a07a;
    outline: medium;
    border-radius: 10px 10px 0px 0px;
  }
  .panel .datainput .datainput2 {
    box-shadow: inset 0px 0px 1px 0px rgba(0, 0, 0, 0.3);
    padding: 8px;
    border: solid 1px #c1a07a;
    border-top: 0px;
    outline: medium;
    border-radius: 0px 0px 10px 10px;
  }
  .panel .othertext {
    padding: 10px;
    margin-top: 0px;
    line-height: 30px;
    vertical-align: middle;
  }
  .panel .othertext .check {
    outline: medium;
  }
  .panel .othertext .signup {
    color: white;
    padding: 5px 30px;
    border-radius: 3px;
    border: none;
    outline: medium;
    box-shadow: 0px 3px 0px #4e99b2;
    background-color: #77d1ef;
    cursor: pointer;
  }
  .panel .othertext .signup:hover {
    border: none;
    outline: medium;
    top: 2px;
    box-shadow: 0px 1px 0px #997357;
    color: #ffe4d1;
    background-color: #e0a97f;
  }
  .panel .othertext .signup:active {
    border: none;
    outline: medium;
    top: 1px;
    box-shadow: 0px 2px 0px #997357;
    color: #fff6ef;
    background-color: #f2be93;
  }
  .panel .othertext .signup:active .signin:hover {
    color: #a85817;
  }
  
