body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }

  .first_title{
    color: rgb(179, 250, 226);
    font-weight: 900;
  }
  
  .btn {
    border-width: 2px;
  }
  
  .header-carousel-item {
    height: 450px;
  }
  
  .bg-cover {
    background-size: cover;
    background-position: center center;
  }
  
  .carousel-caption {
    background-color: rgba(0, 0, 0, 0.2);
  }
  
  @media (min-width: 768px) {
    .text-md-dark {
      color: #333;
    }
  }

  #custom-alert {
    top: 10px;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 200;
  

  }
  
  #d_menu :hover
  {
     transform: scale(1.05);
    -ms-transform: scale(1.05);  /* IE 9 */  
    cursor: pointer;
  }

  h6 {
    animation-duration: 3s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      padding-left: 100%;
      width: 300%;
    }
  
    75% {
      font-size: 300%;
      padding-left: 25%;
      width: 150%;
    }

    to {
      padding-left: 0%;
      width: 100%;
    }
  }
  
  @keyframes slidein_in {
    from {
      padding-left: 100%;
      width: 300%;
    }
    to {
      padding-left: 0%;
      width: 100%;
    }
  }

  .animation
  {
    font-size: 40px;
    font-family: "微軟正黑體", "Microsoft JhengHei";
    color: rgb(0, 36, 102);
  }

  #Corner_title
  {
    font-family: fantasy;
    font-size: 30px;
  }

  .animation_text
  {
    animation-duration: 5s;
    animation-name: slidein_in;
    font-family: "微軟正黑體", "Microsoft JhengHei";
    font-size: 16px;
    color: rgb(220, 255, 154);
  }

  .third_title
  {
    font-family: "微軟正黑體", "Microsoft JhengHei";
    font-size: 30px;
    color: rgb(117, 80, 0);
    
  }
  .third_add_title
  {
    font-family: "標楷體", "Microsoft JhengHei";
    font-size: 25px;
    color: rgb(65, 4, 39);
  }

  #fourth_title
  {
    text-decoration:underline;
    font: italic bold 45px/30px Georgia, serif;
    color: rgb(151, 12, 140);
  }

  #Rule
  {
    background-color:rgb(253, 216, 216);
  }

  #third_back
  {
    background-color: rgb(247, 247, 233);
  }

  .title_txt
  {
    color: rgb(141, 78, 0);
    font-size :22px;
    font-family:  'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-bottom: 20px;
  }

  .title_title
  {
    color: rgb(0, 78, 74);
    font-size :20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
  }

  #big_title
  {
    color: rgb(0, 0, 0);
    font-size :30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: bold;
  }

  .third_txt
  {
    color: #000;
  }

  .col-md-6
  {
    margin-bottom: 15px;
  }

  #recent
  {
    color: #000;
  }

  #post_btn
  {
    float: right; 

  }
  #list
  {
    background-color:rgb(253, 242, 242);
  }

  section.services {
    padding-bottom: 100px;
  }
  
  .services .service-item  a {
    text-decoration: none;
  }
  
  .services .service-item {
    text-align: center;
  }
  
  .services .service-item img {
    max-width: 100%;
    overflow: hidden;
    border: 10px solid #eaf0ff;
    border-radius: 50%;
  }
  
  .services .service-item h4 {
    margin-top: 20px;
    font-size: 22px;
    color: #121212;
    font-family: 'Spectral', serif;
    font-weight: 600;
    margin-bottom: 0px;
  }
  
  pre
  {
    white-space: pre-wrap;
    word-wrap: break-word!important; 
    word-break: normal !important;
  }

  #information_title
  {
    font-family: "標楷體", "Microsoft JhengHei";
    font-size: 25px;
    color: rgb(65, 4, 39);
  }

  #uploadinput {
    display: none;
  }

  .photo_area
  {
    padding-bottom: 80px;
    padding-top: 80px;
    background-image: linear-gradient( 135deg, #81FFEF 10%, #F067B4 100%);
  }